{% extends "blogpost_base.html" %}

{% load static %}

{% block title %} Blog Page {% endblock %}

{% block right_sidebar %}
    <div class="right-sidebar-container">
        <h3 style='font-weight: bold; padding-left: 5px; margin-bottom: 30px'> Blog Contents </h3>
        <hr>
        <div class="table-of-contents">
            {% comment %} {{ post.get_markdown.1|safe }} {% endcomment %}
            <ul>
                {% for href, text in toc_items %}
                    <li> <a href="{{ href }}"> {{ text }} </a> </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}


{% block content %}

    <div class="blog_page_main_content">
        <h1 style = "text-align: center; font-weight: bold"> {{ post.title }} </h1> <br>
        <div class="container" style="margin-top: 50px; margin-bottom: 50px;">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <p style="text-align: right;"> Author: {{ post.author }} </p>
                </div>
                <div class="col-auto">
                    <p style="text-align: right;"> Created On: {{ post.created_on }} </p> <br>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row justify-content-center">
                
                <div class="row justify-content-center align-item-center;">
                    <div class="col-auto">
                        <img src="{{ post.banner.url }}" alt="" class="blog-page-image">
                    </div>
                </div>
                <div class="row justify-content-center align-item-center;">
                    <div class="col-auto">
                        <div class="row">
                            <div class="col-auto"> <h5> Description - </h5> </div>
                            <div class="col-auto"> {{post.description}} </div>
                        </div>
                        <br>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="markdown-content">
                            {{ post.get_markdown.0 | safe }}
                        </div>
                    </div>
                    <div class="col-2">
                        <h4>Want to delete the Post ?</h4>
                        <a href="{% url "post_delete" id=post.id %}"> <button type="submit" class="btn btn-danger"> Delete </button> </a>
                        <h4>Want to Update the Post ?</h4>
                        <a href="{% url "post_detail" slug=post.slug %}"> <button type="submit" class="btn btn-secondary"> Update </button> </a>
                    </div>
                </div>
                <style>
                    .blog-post-content {
                        max-width: 400px; /* Adjust the width as needed */
                        word-wrap: break-word; /* Ensure long words break to the next line */
                    }
                </style>
                <br>
                <hr style="margin-top: 50px; border-width: 3px; border-color: white;">
            </div>
        </div>
    </div>
{% endblock %}
                