{% load discuss_filters %}

{% block content %}
<style>
.comment-container {
    position: relative;
}

.comment-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    background-color: #3b3b3b80;
    margin-left: -1em; /* Adjust this value to align the line with the indentation */
}

.msg {
    padding: 10px;
}

.form-control.comment-content {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical; /* Allow vertical resizing */
    margin-bottom: 10px;
}

.btn-reply {
    height: 25px;
    width: 70px; /* Adjust width as needed */
    font-size: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items with space between */
    background-color: transparent;
    border: none;
    color: white;
}

.form-box {
    {% comment %} border: 1px solid #2595be; {% endcomment %}
    border-radius: 8px;
    padding: 15px;
    margin-top: 10px;
    background-color: #3b3b3b80;
}

.form-box p {
    font-size: 14px;
    font-weight: bold;
}

.form-box input[type="text"],
.form-box input[type="email"],
.form-box input[type="password"],
.form-box textarea,
.form-box select {
    width: 100%; /* Increase the width to 100% */
    max-width: 100%; /* Ensure it doesn't exceed the container width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.slide-down {
    animation: slideDown 0.5s ease-out forwards;
}

.slide-up {
    animation: slideUp 0.5s ease-out forwards;
}

@keyframes slideDown {
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: 500px; /* Adjust as needed */
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        max-height: 500px; /* Adjust as needed */
        opacity: 1;
    }
    to {
        max-height: 0;
        opacity: 0;
    }
}

</style>

<div class="comment-container">
    <div class="comment" style="margin-left: {{ comment_depth }}em;">
        {% comment %} <p>({{comment.user.username}}) - {{ comment.content }}</p> {% endcomment %}
        <span style="font-weight: bold; color: {% if comment.user|is_admin %}red{% else %}#2595be{% endif %}; margin-bottom: 10px"> {{comment.user.username}} </span><span style="margin-bottom: 10px">- {{ comment.content|safe }}</span>
        <!-- Form to reply to this comment -->
        {% if user.is_authenticated %}
            <br>
            <button class="btn-reply" onclick="showReplyForm({{ comment.id }})">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">
                    <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.7 8.7 0 0 0-1.921-.306 7 7 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254l-.042-.028a.147.147 0 0 1 0-.252l.042-.028zM7.8 10.386q.103 0 .223.006c.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96z"/>
                </svg>
                <span style="color: #caabab80;">Reply</span>
            </button>
            
            <div id="reply-form-{{ comment.id }}" style="display: none;">
                <form method="POST" class="form-box">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden" name="parent" value="{{ comment.id }}">
                    <button type="submit" class="btn btn-secondary btn-reply">Submit</button>
                </form>
            </div>
            <br>
        {% endif %}
        <!-- Display replies recursively -->
        {% for reply in comment.replies.all %}
            {% include 'comment_thread.html' with comment=reply comment_depth=4 %}
        {% endfor %}
    </div>
</div>

<script>
function showReplyForm(commentId) {
    var form = document.getElementById('reply-form-' + commentId);
    if (form.style.display === 'none') {
        form.style.display = 'block';
        form.classList.remove('slide-up');
        form.classList.add('slide-down');
    } else {
        form.classList.remove('slide-down');
        form.classList.add('slide-up');
        setTimeout(function() {
            form.style.display = 'none';
        }, 500);
    }
}
</script>

{% endblock %}