{% extends "discuss_base.html" %}
{% load discuss_filters %}

{% block title %}
    All Discussions
{% endblock %}

{% block left_sidebar %}
    <div class="left-sidebar-container d-none d-lg-block">
        <center><h3 style='font-weight: bold; text-align: center'> Categories </h3> <br></center>
        <ul class='right-bar'>
            <a href="{% url "discussion_home" %}"> <li><button class="btn btn-light" style="width: 180px;padding-left: 0px">All</button></li></a>
            {% for category in all_categorys %}
                {% if category.slug %}
                    <a href="{% url "categorys_by_name" slug=category.slug %}">
                        <li><button {% if forloop.counter|divisibleby:2 %} class="btn btn-light" {% else %} class="btn btn-secondary" {% endif %} style="width: 180px;padding-left: 0px">{{ category.name }}</button></li>
                    </a>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content %}

<style>
    .discussion-content {
        margin-top: 15px; /* Adjust the value as needed */
    }
    @media (max-width: 768px) {
        .table-responsive {
            overflow-x: auto;
        }
        .table thead {
            display: none;
        }
        .table tbody, .table tr, .table td {
            display: block;
            width: 100%;
        }
        .table tr {
            margin-bottom: 15px;
        }
        .table td {
            text-align: right;
            padding-left: 50%;
            position: relative;
        }
        .table td::before {
            content: attr(data-label);
            position: absolute;
            left: 0;
            width: 50%;
            padding-left: 15px;
            font-weight: bold;
            text-align: left;
        }
    }
</style>

<div class="resource_home_main_content">
    <h1 style="text-align: center"> 
        {% if name %}
            {{ name }}
        {% else %}
            All Discussions
        {% endif %}    
    </h1>
    <br>
    <hr>
    <div class="create-button" style="display: flex; justify-content: end; align-items: end; margin-bottom: 20px">
        <a href="{% url 'create_discussion' %}" class="btn btn-primary">Create New Discussion</a>
    </div>
    {% if discussions %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" style="width: 50%">Topic</th>
                    {% if not name %}
                        <th>Category</th>
                    {% endif %}
                    <th scope="col">Author</th>
                    <th scope="col">Replies</th>
                    <th scope="col">Activity</th>
                </tr>
            </thead>
            <tbody>
                {% for discussion in discussions %}
                <tr>
                    <td data-label="Topic">
                        <div style="padding-bottom: 5px; font-weight: bold;">
                            <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url "discussion_detail" slug_title=discussion.slug %}">{{ discussion.title }}</a>
                            <p class="discussion-content" style="font-weight:300;">{{ discussion.content }}</p>
                        </div>
                    </td>
                    {% if not name %}
                        <td data-label="Category">{{ discussion.category.name }}</td>
                    {% endif %}
                    <td data-label="Author" style="color: {% if discussion.user|is_admin %}red{% else %}rgb(11, 237, 237){% endif %};">{{ discussion.user.username }}</td>
                    <td data-label="Replies">{{ discussion.comments.count }}</td>
                    <td data-label="Activity">{{ discussion.created_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>No discussions available.</p>
    {% endif %}
</div>
{% endblock %}
