{% extends "discuss_base.html" %}

{% block left_sidebar %}
    <div class="left-sidebar-container d-none d-lg-block">
        <center><h3 style='font-weight: bold; text-align: center'> Categories </h3> <br></center>
        <ul class='right-bar'>
            <a href="{% url "discussion_home" %}"> <li><button class="btn btn-light" style="width: 180px;padding-left: 0px">All</button></li></a>
            {% for category in all_categorys %}
                {% if category.slug %}
                    <a href="{% url "categorys_by_name" slug=category.slug %}">
                        <li><button {% if forloop.counter|divisibleby:2 %} class="btn btn-light" {% else %} class="btn btn-secondary" {% endif %} style="width: 180px;padding-left: 0px">{{ category.name }}</button></li>
                    </a>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content %}

    <style>
        .all-comments hr {
            max-width: 50%;
        }

        .all-comments hr:last-child {
            display: none;
        }

        .new-comment {
            {% comment %} border: 1px solid #2595be; {% endcomment %}
            border-radius: 8px;
            padding: 15px;
            margin-top: 10px;
            background-color: #3b3b3b80;
        }
        
        .new-comment p {
            font-size: 14px;
            font-weight: bold;
        }
    </style>

    <div class="resource_home_main_content">

        <h1 style="font-weight: 600; font-size: 35px;">{{ discussion.title }}</h1>
        <p style="font-weight: 200; font-size: 20px;">{{ discussion.content }}</p>
        <hr> <br>
        <h2 style="font-weight: 100px;">Comments</h2>
        <hr style="max-width: 50%">
        <div id="comments" class="all-comments">
            {% for comment in comments %}
                {% include 'comment_thread.html' with comment=comment comment_depth=0 %}
                <br><hr><br>
            {% endfor %}
        </div>

        <br><br>


        <div class="new-comment">
            <!-- Comment form for new comments -->
            <h3>Add a Comment</h3>
            <hr style="max-width: 50%">
            {% if user.is_authenticated %}
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Post Comment</button>
                </form>
            {% else %}
                <p><a href="{% url 'login' %}">Log in</a> to post a comment.</p>
            {% endif %}
        </div>

    </div>

{% endblock %}