.left-sidebar-container {
    position: fixed;
    left: 0;
    top: 69px; /* Adjust this value to match the navbar's height */
    bottom: 0;
    width: 250px;
    border-right: 1px solid rgb(88, 88, 88); /* Adjusted the color and width for visibility */
    padding: 2%;
    /*background-color: 'bg-body-tertiary'; */ /* Optional: Adding a background color for contrast */
    z-index: 1; /* Ensures the sidebar is above the main content */
    overflow: auto;
    overflow-y: scroll;
}

.right-sidebar-container {
    position: fixed;
    right: 0;
    top: 69px; /* Adjust this value to match the navbar's height */
    bottom: 0;
    width: 250px;
    border-left: 1px solid rgb(88, 88, 88); /* Ensuring visibility */
    padding: 1%;
    /*background-color: 'bg-body-tertiary';*/ /* Optional: Adding a background color for contrast */
    z-index: 1; /* Ensures the sidebar is above the main content */
    overflow: auto;
    overflow-y: scroll;

}

.main-content {
    margin-top: 69px; /* Adjust this value to match the navbar's height */
    margin-left: 275px; /* Adjusted to ensure separation from the left sidebar */
    margin-right: 275px;
    padding: 20px;
    /*background-color: #272727;*/  /* Optional: Adding a background color for contrast */
    z-index: 0; /* Ensures the main content is below the sidebars */
    overflow: auto; /* Adds scroll to the main content if it overflows */

}

html body nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030; /* Bootstrap's navbar z-index + 1 for good measure */
}

.card-img-top {
    height: 200px;
    width: 150%;
    object-fit: cover; /* Cover the area without distorting the image */
    /* image with rounded corners with some padding*/
    border-radius: 10px;
    padding: 2px;
}