.right-sidebar-container {
    position: fixed;
    right: 0;
    top: 0px;
    bottom: 10;
    width: 300px;
    height: 100%;
    border-left: 1px solid #5f5f5f;
    padding: 1%;
    padding-bottom: 5%;
    padding-top: 1%;
}

.right-sidebar {
    overflow-y: auto;
    height: 50%;
}