{% load socialaccount %}
{% load static %}
<style>
    @font-face {
        font-family: 'Blanka';
        src: url('{% static "fonts/Blanka-Regular.otf" %}') format('opentype');
    }
    html body nav.navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1030; /* Bootstrap's navbar z-index + 1 for good measure */
    }
    .navbar-brand {
        font-size: 28px;
        color: white;
        margin-top: 0;
        text-shadow: 1px 1px cyan;
        font-family: 'Blanka', sans-serif; /* Apply Blanka font */
        letter-spacing: 2px;
    }
    .nav-link {
        font-size: 18px;
        color: lightgrey;
        text-shadow: 1px 1px black;
        font-weight: bold;
        margin-right: 30px; 
    }
    .nav-link.active {
        color: cyan !important; /* Change color to cyan for active link */
    }
</style>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">AceCoder</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'graph' %}active{% endif %}" aria-current="page" href="{% url 'graph' %}">Graph</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'post_list' %}active{% endif %}" href="{% url 'post_list' %}">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'learning_path' %}active{% endif %}" href="{% url "learning_path" %}">Learning Path</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'upsolve_home' %}active{% endif %}" href="{% url 'upsolve_home' %}">Upsolve</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'discussion_home' %}active{% endif %}" href="{% url 'discussion_home' %}">Discuss</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item d-flex align-items-center" style="font-weight: bold; margin-right: 20px">
                    Role: {% if is_admin %} <div style="color: red; padding-left: 10px"> Admin</div>{% elif is_faculty %}<div style="color: lightgreen; padding-left: 10px"> Faculty</div>{% else %} Student {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'account_logout' %}"><button class='btn btn-danger' style="color: white">Logout</button></a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'account_login' %}"><button class='btn btn-primary' style="color: white">Login</button></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>