{% load socialaccount %}
<style>
    .navbar li,ui {
        margin-left: 30px; 
        font-size: 18px;
        color: lightgrey; 
        text-shadow: 1px 1px black
    }
</style>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}" style="font-weight: bold; color: white; text-shadow: 1px 1px darkgrey; font-size: 28px;">AceCoder</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url "home" %}" style="font-weight: bold; color: lightgrey">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" href="{% url "dashboard" %}" style="font-weight: bold; color: lightgrey">Dashboard</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" href="{% url "resources_home" %}" style="font-weight: bold; color: lightgrey">Resources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url "upsolve_home" %}" style="font-weight: bold; color: lightgrey">Upsolve</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
            <li class="nav-item d-flex align-items-center" style="font-weight: bold; margin-right: 20px">
                Role: {% if is_admin %} <div style="color: red; padding-left: 10px"> Admin</div> {% else %} Student {% endif %}
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'account_logout' %}" style="font-weight: bold; color: lightgrey"><button class='btn btn-danger' style="color: white">Logout</button></a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link active" href="{% provider_login_url 'google' %}?next=/" style="font-weight: bold; color: lightgrey"><button class='btn btn-success' style="color: white">Login</button></a>
            </li>
            {% endif %}
        </ul>
        </div>
    </div>
    {% comment %} <hr style="background: red;"> {% endcomment %}
</nav>