{% extends "blogpost_base.html" %}
{% load static %}

{% block title %}
AceCoder - {{ chapter.name }}
{% endblock %}

{% block right_sidebar %}
    <style>
        /* Making the li in sidebar to color cyan on hover */
        .table-of-contents ul li a:hover {
            color: cyan;
        }
    </style>
    <div class="right-sidebar-container">
        <h3 style='font-weight: bold; padding-left: 5px; margin-bottom: 30px'> Blog Contents </h3>
        <hr>
        <div class="table-of-contents">
            {% comment %} {{ post.get_markdown.1|safe }} {% endcomment %}
            <ul>
                {% for href, text in toc_items %}
                    <li> <a href="{{ href }}"> {{ text }} </a> </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static "css/style.css" %}">
<link rel="stylesheet" href="{% static "css/prism.css" %}">


<div class="blog_page_main_content">
    <center>
        <h1>{{chapter.name}}</h1>
        <p>{{chapter.description}}</p>
        <hr>
    </center>
    <div class="markdown-content">
        {{chapter.get_markdown.0 |safe}}
    </div>
</div>

<script src="{% static "js/prism.js" %}"></script>

{% endblock %}