{% extends "upsolve_home.html" %}

{% block subblock %}

    <br><br>

    <div class="table-responsive" style="margin-left: 10%; margin-right: 10%">
        <table class="table table-bordered">
            <thead class="table-light">
                <tr style="text-align: center">
                    <th> Contest </th>
                    <th> Participate </th>
                    <th> Date </th>
                </tr>
            </thead>
            <tbody>
                {% for contest in contests %}
                <tr style="text-align: center">
                    <td> {{contest.contest}} </td>
                    <td> <a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url "contest_page" contest.name %}" > Check Out </a> </td>
                    <td> {{contest.date}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}