{% extends "resources_base.html" %}

{% load static %}

{% block title %}
Blog Page
{% endblock %}

{% block content %}
    {% block left_sidebar %}
        <div class="left-sidebar-container">
            <h3 style='font-weight: bold; padding-left: 50px'> Topics </h3>
            <hr>
            <ul class='right-bar'>
                <a href="{% url "resources_home" %}"><li><button class="btn btn-light" style="width: 180px;">All</button></li></a>
                {% for tag in all_tags %}
                <a href="{% url "tag_posts" tag.post_tag %}"><li><button {% if forloop.counter|divisibleby:2 %} class="btn btn-light" {% else %} class="btn btn-secondary" {% endif %} style="width: 180px;">{{ tag.post_tag }}</button></li></a>
                {% endfor %}
            </ul>
        </div>
    {% endblock %}

    {% block right_sidebar %}
        <div class="right-sidebar-container">
            <h3 style='font-weight: bold; padding-left: 5px; margin-bottom: 30px'> Page Contents </h3>
            <hr>
            <ul class='left-bar' style="list-style-type: decimal">
                {% for subpost in subposts %}
                <li><a href="#subpost-{{ subpost.id }}">{{ subpost.tittle }}</a></li> <br>
                {% endfor %}
            </ul>
        </div>
    {% endblock %}

    <h1 style = "text-align: center; font-weight: bold"> {{ blog.tittle }} </h1> <br>
    <div class="container" style="margin-top: 50px; margin-bottom: 50px;">
        <div class="row justify-content-between">
            <div class="col-auto">
                <p style="text-align: right;"> Author: {{ blog.author }} </p>
            </div>
            <div class="col-auto">
                <p style="text-align: right;"> Created On: {{ blog.created_on }} </p> <br>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row justify-content-center">
            
            <div class="row">
                <div class="col-auto">
                    <img src="{{ blog.banner.url }}" alt="" style="width: 700px; height: 400px; margin-bottom: 50px; box-shadow: 0 4px 20px rgba(0, 255, 255, 0.6);">
                </div>
                <div class="col-auto">
                    <div class="row">
                        <div class="col-auto"> <h5> Description - </h5> </div>
                    </div>
                    <div class="row">
                        <div class="col-auto"> {{blog.description}} </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-auto"> <h5> Details - </h5> </div>
                    </div>
                    <div class="row">
                        <div class="col-auto blog-post-content"> {{ blog.post }} </div>
                    </div>
                </div>
            </div>
            <style>
                .blog-post-content {
                    max-width: 400px; /* Adjust the width as needed */
                    word-wrap: break-word; /* Ensure long words break to the next line */
                }
            </style>
            <br>
            <hr style="margin-top: 50px; border-width: 3px; border-color: white;">
            {% if subposts %}
                {% for subpost in subposts %}
                    <div id="subpost-{{ subpost.id }}" class="row justify-content-between">
                        <div class="col-auto">
                            <h3> {{subpost.tittle}} </h3>
                        </div>
                        {% if subpost.link|slice:"12:19" == "youtube" %}
                            <!-- Video Modal -->
                            <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="videoModalLabel"> {{ subpost.tittle }} </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        <!-- YouTube Video Iframe -->
                                            <div class="ratio ratio-16x9">
                                                <iframe src="https://www.youtube.com/embed/{{subpost.link|slice:"32:"}}" title="YouTube video" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <a href="#">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#videoModal"> Video </button>
                                </a>
                            </div>
                        {% else %}
                            <div class="col-2">
                                <a href="{{subpost.link}}" target="_blank">
                                    <button class="btn btn-success">Source</button>
                                </a>  
                        {% endif %}
                        </div>
                        <div class="row">
                            <p>
                                The BeginnersGuide page on the Python Wiki serves as a comprehensive resource for those new to Python programming. It offers a step-by-step guide to getting started with Python, including installation instructions, learning resources, and information on finding specific applications or libraries.
    
                                Key points from the page:
    
                                Installation: The page provides guidance on installing Python, which is generally straightforward on most operating systems.
                                Learning: It recommends exploring various resources such as IDEs, text editors, introductory books, and code samples to aid in the learning process.
                                Finding Applications and Libraries: The page suggests using the Python Package Index (PyPI) and searching on python.org to locate relevant tools.
                                Additional Resources: It provides links to tutorials, documentation, and online communities for further support and learning.
                                Overall, the BeginnersGuide page is a valuable resource for anyone looking to start their Python programming journey. It offers practical information and guidance to help beginners get started and navigate the world of Python development.
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <br> <br>
                <h5 style="text-align: center;"> Links will be updated soon .... </h5>
            {% endif %}

        </div>
    </div>

    <style>
        html {
            scroll-behavior: smooth;
        }
        .left-bar li a {
            color: lightgrey;
            text-decoration: none;
            font-weight: bold;
        }
        .left-bar li a:hover {
            color: cyan;
        }
    </style>

{% endblock %}