{% extends "resources_base.html" %}

{% load static %}

{% block title %}
    Resources Page
{% endblock %}

{% block content %}

    {% block left_sidebar %}
        <div class="left-sidebar-container">   <!-- Left sidebar content -->
            <h3 style='font-weight: bold; padding-left: 50px'> Topics </h3> <br>
            <ul class='right-bar'>
                <a href="{% url "resources_home" %}"><li><button class="btn btn-light" style="width: 180px;padding-left: 0px">All</button></li></a>
                {% for tag in all_tags %}
                <a href="{% url "tag_posts" tag.post_tag %}"><li><button {% if forloop.counter|divisibleby:2 %} class="btn btn-light" {% else %} class="btn btn-secondary" {% endif %} style="width: 180px;padding-left: 0px">{{ tag.post_tag }}</button></li></a>
                {% endfor %}
            </ul>
        </div>
    {% endblock %}

    {% block right_sidebar %}
        <div class="right-sidebar-container">
            <h3 style='font-weight: bold; padding-left: 5px; margin-bottom: 30px'> Page Contents </h3>
            <ul class='left-bar'>
            </ul>
        </div>
    {% endblock %}

    <h1 style="text-align: center;font-weight: bold; color: lightgrey"> Resources Page </h1> <br> <br>

    {% comment %} <div class = "container row gap-3">
        {% if blogs %}
            {% for blog in blogs|slice:":4" %}
                <div class="card text-light bg-secondary" style="width: 20rem;">
                    <br>
                    <img src="{{ blog.banner.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ blog.tittle }}</h4>
                        <p class="card-text">
                            {% if blog.description|length >= 50 %}
                                {{ blog.description|slice:":50" }} ...
                            {% else %}
                                {{ blog.description }}
                            {% endif %}
                        </p>
                        <a href="{% url "blog_page" blog.id %}" class="btn btn-primary">Click For Details</a>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            {% for tag in blog.tags.all %}
                                    <div class="col-auto">
                                        <h6>{{tag.post_tag}} &nbsp |</h6>
                                    </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            {% endfor %}
        {% else %}
            <h2> No Blogs created here .... </h2>
            <h2> Try Creating One ! </h2>
        {% endif %}
    </div> {% endcomment %}

    <div class="container row gap-3">
        {% if blogs %}
            {% for blog in blogs|slice:":4" %}
                <div class="glassBox">
                    <div class="glassBox__imgBox">
                        <img src="{{ blog.banner.url }}" alt="...">
                    </div>
                    <div class="glassBox__title">
                        {{ blog.tittle }}
                    </div>
                    <div class="glassBox__content">
                        {% if blog.description|length >= 50 %}
                            {{ blog.description|slice:":50" }} ...
                        {% else %}
                            {{ blog.description }}
                        {% endif %}
                        <br>
                    </div>
                    <a href="{% url "blog_page" blog.id %}"><button class="btn btn-info" style="width: 200px"> Details </button></a>
                    <div class="card-footer">
                        <hr style="width: 250px">
                        <div class="row">
                            {% for tag in blog.tags.all %}
                            <div class="col-auto">
                                <h6>{{tag.post_tag}} &nbsp |</h6>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}