{% extends "resources_base.html" %}

{% load static %}

{% block title %}
    Resources Page
{% endblock %}

{% block content %}

    <h1 style="text-align: center;font-weight: bold; color: lightgrey"> Resources Page </h1> <br>

    {% comment %} <h3>Most Liked Posts here....</h3> <br> <br> {% endcomment %}

    <div class = "container row gap-3">
        {% if blogs %}
            {% for blog in blogs|slice:":4" %}
                <div class="card text-light bg-secondary" style="width: 20rem;">
                    <br>
                    <img src="{{ blog.banner.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ blog.tittle }}</h4>
                        <p class="card-text">
                            {% if blog.description|length >= 50 %}
                                {{ blog.description|slice:":50" }} ...
                            {% else %}
                                {{ blog.description }}
                            {% endif %}
                        </p>
                        <a href="#" class="btn btn-primary">View Blog</a>
                    </div>
                </div>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            {% endfor %}
        {% else %}
            <h2> Nothing to show, Please create your blogs </h2>
        {% endif %}
    </div>

{% endblock %}