{% load static %}

<!doctype html>
<html lang="en" data-bs-theme="dark">

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        {% include "navbar.html" %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    </head>
    <body>

        <div class="left-sidebar-container">   <!-- Left sidebar content -->
            <h3> Topics </h3> <br>
            <ul>
                <li><h5> Problems </h5></li>
                <li><h5> Roadmaps </h5></li>
                <li><h5> Upsolve </h5></li>
                <li><h5> DSA </h5></li>
                <li><h5> Competitive Programming </h5></li>
            </ul>
        </div>
        <div class="right-sidebar-container">    <!-- Right sidebar content -->
            <h3> Page Contents </h3>
            <ul>
                <li>basics</li>
                <li>If - Else</li>
                <li>Loops</li>
                <li>Arrays</li>
                <li>Linked list</li>
                <li>Stacks</li>
                <li>Queues</li>
            </ul>
        </div>
        <div class="main-content">

            {% block content %}
            Default Base Content
            {% endblock %}

        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
